{#  src/Capstone/ReportBundle/Resources/views/Default/index.html.twig#}
{% extends '::base.html.twig' %}
{% block title %} Report {% endblock %}
{% block body %}
<div>
<div>
<h1>Report</h1>
<hr>
<ul>
	<li><a href="{{path ('quiz_homepage') }}"> Take Quiz</a>
	</li>
	<li><a href="{{path ('report_homepage') }}"> View Report</a>
	</li>
	<li><a href="{{path ('setup_homepage') }}"> Setup</a>
	</li>
	<li><a href="{{path ('setup_homepage') }}"> About</a>
	</li>


</ul>
</div>
<div>
<hr>
	<p> Options Go here Regarding Filtering and Downloading
    </div>
    </div>
{% endblock %}
