{#  src/Capstone/ReportBundle/Resources/views/Default/index.html.twig#}
{% extends '::admin/layout.html.twig' %}
{% block title %} FunQ Report {% endblock %}
{% block body %}
<div class="row">
<div class="large-12 columns">
<div class="panel">
<h1>Report</h1>
</div>
</div>
</div>

<div style="text-align: center">

	<h1> SELECT REPORT TYPE </h1><br><h3>Options Go here Regarding Filtering and Downloading</h3>
	<div>
	 
    </div>
    </div>
{% endblock %}
