{% extends '::admin/layout.html.twig' %}

{% block body %}
<div class="row">
<div class="large-12 columns">
    <h1>Questiontype</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Questiontype</th>
                <td>{{ entity.questionType }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('questiontype') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('questiontype_edit', { 'id': entity.questionType }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
</div>
</div>
{% endblock %}
