{#  src/Capstone/QuizBundle/Resources/views/report.html.twig#}
{% extends '::admin/layout.html.twig' %}
{% block title %} FunQ Quiz{% endblock %}
{% block body %}
<div>
 {% for i in region %}
	 <article> {{ i.schoolId}}, {{ i.school}}, {{i.parish }}</article>
 {% endfor %}
</div>
{% endblock %}
