{% extends '::admin/layout.html.twig' %}

{% block body %}
<div class="row">
<div class="large-12 columns">
    <h1>Question creation</h1>

    {{ form(form) }}
    {{ form(form2) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('question') }}">
            Back to the list
        </a>
    </li>
</ul>
</div>
</div>
{% endblock %}
