{#src/Capstone/QuizBundle/Resources/views/moe.html.twig#} 
{% extends '::base.html.twig' %}
{% block header %}
<div class="row" style="padding-top: 2%;">
<div class="large-12-column">
<img src="/bundles/report/images/logo.png" style="filter:grayscale(100%); "/> 
<br>
<p> Ministry of Education</p>
<hr style="margin-top: -2%; height: 5%;" size="2px">
  <p style="text-align: center; font: 20px solid black;"> This is a Sample Report Generated <br> for the <br>FunQ System </p>
<hr>
</div>
</div>
{% endblock %}
{% block body %}
<div class="row">
<div class="large-12-column">
<p> This is a Sample Report.</br>
   This is a Sample Report.</br>
   This is a Sample Report.</br>
   </p>
  
{% endblock %}
{% block footer %}
<footer class="row">
<div class="large-12 columns">
<hr/>
<div class="row">
<div class="large-10 columns">
<p>&copy; Copyright FunQ</p>
</div>
<div class="row">
<div class="large-2 columns">
<a href=""> Download to PDF </a>
</div>
</div>
{% endblock %}