{#  src/Capstone/QuizBundle/Resources/views/Default/index.html.twig#}
{% extends '::admin/layout.html.twig' %}
{% block title %} FunQ Quiz{% endblock %}
{% block body %}
<div class="row">
<div class="large-12 columns">
<h1>Quiz</h1>
<h3> Good Luck! </h3>
  {% block feed %}
  {% endblock %}
	<a href ="{{ path('start_quiz')}}" class="button success"> START QUIZ </a>
	
     </div>
    </div>
{% endblock %}