{#  src/Capstone/QuizBundle/Resources/views/Default/index.html.twig#}
{% extends '::admin/layout.html.twig' %}
{% block title %} FunQ Quiz{% endblock %}
{% block body %}
<div>
<div>
<h1>Quiz</h1>
<h3> Good Luck! </h3>
 <a href="http://198.58.0.47/FunQ/vendor/phpdocumentor/phpdocumentor/output/"> For Jordanne </a>
</div>
<div>
<hr>
	<p>Options Go here Regarding Filtering and Downloading
	http://198.58.0.47/FunQ/vendor/phpdocumentor/phpdocumentor/output/
     </div>
    </div>
{% endblock %}